.tittle {
    color: white;
    font-size: 42;
}

.red {
    color: #e10b0b;
}

.bg-red {
    background-color: #e10b0b;
}

.gray {
    color: #3f3f3f;
}

.bg-gray {
    background-color: #3f3f3f;
}



.btn-without-border {
    color: white;
    background-color: rgba(255, 0, 0, 0.0);
    border-color:rgba(255, 0, 0, 0.0);
    border-width: 1;
 }
 .btn-without-border:active {
    opacity: 0.6;
 }

 .coverImage { 
    background: url(~/img/home/icons/scroll.png);
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: cover; 
}

.topbar-ios{
    font-weight: 200;
    height: 60;
}
.topbar {
    font-weight: 200;
    height: 50;
    margin-top: 0;
}
.topbar button{
    background-color: transparent;
    border-color: transparent;
    border-width: 1;
    padding: 0;
    margin: 0;
}

.topbar-tittle {
    color: white;
    text-align: center;
    font-size: 24;
    font-weight: 500;
}

label {
    color: black;
}

.page-title {
    font-family: 'NotoSerif-Bold', serif;
    font-size: 24;
    font-weight: bold;
}

.page-subtitle {
    font-family: 'NotoSerif-Regular', serif;
    font-size: 24;
    padding-left: 25;
}

.sectionTitle {
    font-family: 'NotoSerif-Bold', serif;
    font-size: 20;
    font-weight: bold;
}
.sectionSubtitle {
    font-family: 'NotoSerif-Regular', serif;
    font-size: 20;
    padding-left: 25;
}

.page-body {
    
}