/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme.
*/
@import '~nativescript-theme-core/css/core.dark.css';

/*
For example, the following CSS rule changes the font size of all UI
components that have the btn class name.
*/

.fa {
    font-family: 'FontAwesome','FontAwesome', 'fontawesome-webfont';
    font-size: 24;
 }

.roboto {
   font-family: 'roboto-regular','roboto regular', 'sans-serif';
}


.sourcesanspro {
   font-family: 'SourceSansPro-Regular', 'Source Sans Pro', 'sans-serif';
}

.sourcesanspro-semibold {
   font-family: 'SourceSansPro-SemiBold', 'Source Sans Pro', 'sans-serif';
}

.lato-regular {
   font-family: 'Lato-Regular', sans-serif;
}

.lato-bold {
   font-family: 'Lato-Bold', sans-serif;
}

.lato-black {
   font-family: 'Lato-Black', sans-serif;
}

.noto-bold {
   font-family: 'NotoSerif-Bold', serif;
   font-weight: bold;
}

.noto {
   font-family: 'NotoSerif-Regular', serif;
}


.btn {
    font-size: 18;
}
